<!-- <div style="text-align: center;">
  <h1>
    In Parent Component - {{title}}
  </h1>
  <h1>
    Message from Child Component - {{message}}
  </h1>
</div>

<h3> Following Input is in Parent Component</h3>
<input type="text" [(ngModel)]="name">
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>

<app-test1 [parentData]="name" (eventFromChildToParent)="message=$event"></app-test1>
<app-test1 [parentData]="name" (eventFromChildToParent)="getEventFromChild($event)"></app-test1> -->




<!-- <div style="text-align: center;">
  <h1>
    Welcome {{title}}
  </h1>
</div>

<app-test2></app-test2> -->


<div style="text-align: center;">
  <h1>
    Welcome {{title}}
  </h1>
</div>

<app-employee-list></app-employee-list>
<hr>
<hr>
<hr>
<app-employee-details></app-employee-details>
