<app-hero></app-hero>

<div fxLayout="row" fxLayoutAlign="center center">
  <img src="../../../assets/daniel.jpg" alt="Left Image" class="section-image">
  <p class="text-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec ex a nisi congue euismod nec nec justo.</p>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <p class="text-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec ex a nisi congue euismod nec nec justo.</p>
  <img src="../../../assets/nasa.jpg" alt="Right Image" class="section-image">
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <img src="../../../assets/zion.jpg" alt="Left Image" class="section-image">
  <p class="text-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec ex a nisi congue euismod nec nec justo.</p>
</div>

