
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <img mat-card-avatar class="example-header-image" src={{event.organizer.avatar}}>
    </div>
    <mat-card-title>{{event.title | slice:0:35}}...</mat-card-title>
    <mat-card-subtitle>{{event.organizer.name}}</mat-card-subtitle>
    <mat-card-subtitle>${{event.ticketPrice | number : '1.2-2'}}</mat-card-subtitle>
    <div fxLayout="row" fxLayoutGap="10px">
      @if (event.status.toLowerCase() === 'past') {
        <button mat-flat-button color="primary" class="past-button">Past</button>
      }
      @if (event.status.toLowerCase() === 'upcoming') {
        <button mat-flat-button color="accent" class="upcoming-button">Upcoming</button>
      }
      @if (event.status.toLowerCase() === 'ongoing') {
        <button mat-flat-button color="warn" class="ongoing-button">Ongoing</button>
      }
    </div>

  </mat-card-header>
  <img mat-card-image src={{event.media[0]}} alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p style="margin-top: 10px;">
      {{event.description | slice:0:120 }}...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button style="margin-right: 5px;" (click)="showDetails()">Show Details</button>
    @if(event.status.toLowerCase() === 'upcoming' && isReturnAble){
      <button mat-flat-button (click)="callReturnTicket()" class="return-button">Return Ticket</button>
    }
  </mat-card-actions>
</mat-card>
