
<mat-card class="example-card uniform-card">
  <mat-card-header>
    <mat-card-title>{{organization.name}}</mat-card-title>
    <mat-card-subtitle style="margin-bottom: 10px;">
      Rating ({{organization.averageRating}}/5) - Events ({{organization.totalEvents}})
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image  src={{organization.avatar}} alt={{organization.name}}>
  <mat-card-content>
    <p style="margin-top: 10px;">
      {{organization.bio}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="showOrganizationDetails()">Show Details</button>
  </mat-card-actions>
</mat-card>
