<div>
  <mat-card fxLayout="column " fxLayoutAlign="center center" >
    <div class="image-container">
      <img src="{{user.avatar}}" alt="User Image" class="profile-image">
    </div>
    <mat-card-header>
      <mat-card-title>Edit User Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="profileForm">
        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Bio</mat-label>
          <textarea matInput formControlName="bio"></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput disabled formControlName="email" type="email">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Role</mat-label>
          <input matInput disabled formControlName="role">
        </mat-form-field>
      </form>
    </mat-card-content>
    <app-images-uploader
    [numberOfImages]="1"
    [images]="images"
    (imagesChange)="onImagesChange($event)"
    ></app-images-uploader>
    <button mat-raised-button color="primary" type="submit" (click)="saveProfile()">Save Profile</button>
  </mat-card>
  </div>

