

<!-- analytics.component.html -->
<mat-card fxLayout="row" fxLayoutAlign="space-around" fxLayout.sm="column" fxLayoutAlign.sm="center" class="total-revenue-card" >
  <h3>Total Revenue Generated: ${{ generalAnalytics.totalRevenue }}</h3>
  <h3>Total Events: {{ generalAnalytics.totalEvents }}</h3>
  <h3>Total Tickets Bought: {{ generalAnalytics.totalTickets }}</h3>
  <h3>Total Reviews Received: {{ generalAnalytics.totalReviews }}</h3>
</mat-card>




<div fxLayout="row wrap" fxLayoutAlign="space-around" fxLayout.sm="column" fxLayoutAlign.sm="space-around center">
  <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%">
    <canvas id="AllEventUniqueCategoriesPieChart">{{ allEventUniqueCategoriesPieChart }}</canvas>
  </div>

  <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%">
    <canvas id="TicketsLineChart">{{ ticketsLineChart }}</canvas>
  </div>
</div>
