
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="search-filter-container" fxLayout.xs="column">

  <mat-form-field class="search-field" fxFlex="40%">
    <mat-label>Search By Title, Category, Description, Location</mat-label>
    <input matInput type="text" [(ngModel)]="searchValue">
    <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="openFilterDialog()" fxFlex="20%">
    <mat-icon>filter_list</mat-icon>
    Open More Filters
  </button>

  <button mat-raised-button color="primary" (click)="search()" fxFlex="20%">
    <mat-icon>search</mat-icon>
    Search
  </button>
</div>




<ng-template #itemTemplate let-item>
  <app-event-card [event]="item"></app-event-card>
</ng-template>

<app-generic-pagination
  [items]="events"
  [template]="itemTemplate"
  [pageSizeOptions]="[5, 10, 20]"
  [pageSize]="pageSize"
  [length]="length"
  (pageChange)="handlePageChange($event)"
>
</app-generic-pagination>
