
<div fxLayout="row wrap" fxLayoutAlign="space-around" *ngIf="showAnalytics">

  <div fxFlex="50%">
    <h1>
      Event Rating Distribution
    </h1>
    <div class="chart-container">
      <canvas  id="RatingBarChart" >{{ ratingBarChart }}</canvas>
    </div>
  </div>

  <div fxFlex="50%">
    <h1>
      Tickets Sold Over Time
    </h1>
    <div class="chart-container">
      <canvas  id="TicketsLineChart" >{{ ticketsLineChart }}</canvas>
    </div>
  </div>

</div>

<div fxLayout="row wrap" fxLayoutAlign="space-around">

  <div fxFlex="80%">

    <mat-card class="event-details-card">
      <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-between">
        <div>
          <mat-card-title>{{ event.title }}</mat-card-title>
          <mat-card-subtitle>
            {{ event.category }} - {{ event.location }}
          </mat-card-subtitle>
        </div>
        <mat-card-actions>
          <button mat-raised-button style="margin-right: 5px;" *ngIf="isAdmin()" (click)="showAnalyticsSection()">
            <mat-icon>analytics</mat-icon> Analytics
          </button>
          <button mat-raised-button style="margin-right: 5px;" *ngIf="isAdmin()" (click)="editEvent()">
            <mat-icon>edit</mat-icon> Edit
          </button>
          <button mat-raised-button color="primary" (click)="buyTicket()">
            <mat-icon>shopping_cart</mat-icon> Buy Ticket ${{ event.ticketPrice | number: '1.2-2'}}
          </button>
        </mat-card-actions>
      </mat-card-header>

      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="space-around center" class="image-grid">
          <div *ngFor="let image of event.media; let i = index" class="image-wrapper">
            <img [src]="image" alt="Event image {{ i + 1 }}" class="event-image">
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="10px" style="margin: 10px;">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <mat-icon>event</mat-icon>
            <p><strong>Date:</strong> {{ event.date | date }}</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <mat-icon>schedule</mat-icon>
            <p><strong>Time:</strong> {{ event.startTime }} - {{ event.endTime }}</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <mat-icon>person</mat-icon>
            <p><strong>Organizer:</strong> {{ event?.organizer?.name }}</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <mat-icon>group</mat-icon>
            <p><strong>Capacity:</strong> {{ event.capacity }}</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
            <mat-icon>attach_money</mat-icon>
            <p><strong>Ticket Price:</strong> ${{ event.ticketPrice }}</p>
          </div>
        </div>




        <p>{{ event.description }}</p>
      </mat-card-content>
    </mat-card>



    <div style="margin: 10px;">

      <mat-card class="reviews-card" style="padding: 10px;">

        <mat-card-title>Reviews</mat-card-title>

        <ng-template #itemTemplate let-item>
          <div class="review-item" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="height: fit-content; align-items: center;">
            <img [src]="item.user.avatar" style="height: 50px; width: 50px; border-radius: 50%;" alt="User avatar">
            <!-- {{item.user.avatar}} -->
            <div>
              <h4>{{ item.user.name }}</h4>
              <p>
                <!-- Rating: -->
                <ng-container *ngFor="let star of getStars(item.rating)">
                  <mat-icon>{{ star }}</mat-icon>
                </ng-container>
                {{ item.comment }}
                <!-- {{item.user | json}} -->
              </p>
            </div>
          </div>
        </ng-template>


        <app-generic-pagination
          [fxLayout]="fxLayout"
          [fxLayoutAlign]="fxLayoutAlign"
          [items]="event.reviews"
          [template]="itemTemplate"
          [pageSizeOptions]="[5, 10, 20]"
          [pageSize]="pageSize"
          [length]="length"
          (pageChange)="handlePageChange($event)"
        >
        </app-generic-pagination>

      </mat-card>

      <mat-card style="margin: 20px 0px;">
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">

            <div fxLayout="row">
              <button mat-icon-button
                      *ngFor="let ratingId of ratingArr; index as i"
                      [id]="'star_' + i"
                      (click)="onClick(i + 1)"
                      [matTooltip]="ratingId + 1"
                      matTooltipPosition="above"
                      [color]="color">
                <mat-icon>{{ showIcon(i) }}</mat-icon>
              </button>
            </div>
            <mat-form-field style="width: 100%;">
              <mat-label>Comments</mat-label>
              <input matInput placeholder="Write your comments" [(ngModel)]="comments" >
            </mat-form-field>

          </div>
        </mat-card-content>

        <mat-card-actions fxLayout="row" fxLayoutAlign="end">
          <button mat-raised-button color="primary" (click)="submitReview()">Submit Review</button>
        </mat-card-actions>
      </mat-card>

    </div>


  </div>



  <!-- <div fxFlex="20%">

    <button mat-raised-button color="primary">
      Top Events By the Organizer
    </button>

    <app-event-card *ngFor="let event of topEvents" [event]="event"></app-event-card>
  </div> -->
</div>

