<!-- <mat-paginator #paginator
              class="demo-paginator"
              (page)="handlePageEvent($event)"
              [length]="length"
              [pageSize]="pageSize"
              [disabled]="disabled"
              [showFirstLastButtons]="showFirstLastButtons"
              [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
              [hidePageSize]="hidePageSize"
              [pageIndex]="pageIndex"
              aria-label="Select page">
</mat-paginator>

<p>events-list works!</p> -->


<!--
<app-generic-pagination
  [items]="items"
  [template]="itemTemplate"
  [pageSizeOptions]="[5, 10, 20]"
  [pageSize]="pageSize"
  [length]="length"
  (pageChange)="handlePageChange($event)"
>
</app-generic-pagination>


<ng-template #itemTemplate let-item>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ item.title }}</mat-card-title>
      <mat-card-subtitle>{{ item.subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ item.content }}</p>
    </mat-card-content>
  </mat-card>
</ng-template> -->

<app-all-events></app-all-events>
