

<form [formGroup]="eventForm">

  <h2>
    {{isEditMode ? 'Update' : 'Create'}} Event
  </h2>

  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
    @if (title.hasError('required')) {
      <mat-error>Title is <strong>required</strong></mat-error>
      }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" rows="5"></textarea>
    @if (description.hasError('required')) {
      <mat-error>Description is <strong>required</strong></mat-error>
      }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    @if (date.hasError('required')) {
      <mat-error>Date is <strong>required</strong></mat-error>
      }
  </mat-form-field>

  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field>
      <mat-label>Start Time</mat-label>
      <input type="time" matInput value="{{eventForm.value.startTime}}" formControlName="startTime">
      @if (startTime.hasError('required')) {
        <mat-error>StartTime is <strong>required</strong></mat-error>
        }
    </mat-form-field>

    <mat-form-field>
      <mat-label>End Time</mat-label>
      <input type="time" matInput value="{{eventForm.value.endTime}}" formControlName="endTime">
      @if (endTime.hasError('required')) {
        <mat-error>EndTime is <strong>required</strong></mat-error>
        }
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field>
      <mat-label>Location</mat-label>
      <input matInput formControlName="location">
      @if (location.hasError('required')) {
        <mat-error>Location is <strong>required</strong></mat-error>
        }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Capacity</mat-label>
      <input matInput type="number" formControlName="capacity">
      <!-- <small class="text-danger" *ngIf="capacity.errors?.min">Capacity should be at least {{capacity.value}}</small> -->
      <!-- <small class="text-danger" *ngIf="capacity.errors?.min">Capacity should be at least 1</small> -->
      @if (capacity.hasError('required')) {
        <mat-error>Capacity is <strong>required</strong></mat-error>
        }
      @if (capacity.hasError('min')) {
        <mat-error>Capacity cannot be <strong>less than 20</strong></mat-error>
        }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <input matInput formControlName="category">
      @if (category.hasError('required')) {
        <mat-error>Category is <strong>required</strong></mat-error>
        }
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="10px">
  <mat-form-field floatLabel="always">
    <mat-label>Ticket Price</mat-label>
    <input matInput type="number" placeholder="0" formControlName="ticketPrice">
    <span matTextPrefix>$&nbsp;</span>
    <!-- <mat-hint>Enter 0 if the event is free</mat-hint> -->
    @if (ticketPrice.hasError('required')) {
      <mat-error>Ticket Price is <strong>required</strong></mat-error>
      }
    @if (ticketPrice.hasError('required')) {
      <mat-error>Ticket Price is <strong>required</strong></mat-error>
      }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let status of statusOptions" value="{{status}}">{{status | titlecase}}</mat-option>
    </mat-select>
    @if (status.hasError('required')) {
      <mat-error>Status is <strong>required</strong></mat-error>
      }
  </mat-form-field>
</div>




<app-images-uploader
  [images]="images"
  (imagesChange)="onImagesChange($event)"
></app-images-uploader>





  <!-- Assuming status and media fields are multiselect dropdowns or checkboxes -->
  <!-- Implement as per your requirement -->

  <button mat-raised-button color="primary" type="submit" style="margin-top: 20px;" (click)="onSubmit()">Submit</button>
</form>
